* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
}